/*Mobile first*/
.Modal {
    position: fixed;
    z-index: 1202;
    background-color: whitesmoke;
    width: 80%;
    max-height: 60%;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 25%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        max-width: 1000px;
        left: calc(50% - 500px);
    }
}